{% extends "base.html" %}

{% block title %}EmpreGO! - Login{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100"> <!-- Centraliza horizontalmente -->
        <div class="col-md-6"> <!-- Ocupa metade da tela em telas médias e maiores -->

            <div class="text-center mb-4">
                <img src="{{ url_for('static', filename='login.png') }}" alt="Logo" width="200">
            </div>

            <h1 class="text-center mb-4 text-primary">Login</h1>

            {% if msgerro %}
                <div class="alert alert-danger" role="alert">
                    {{ msgerro }}
                </div>
            {% endif %}

            <form action="/login" method="post" class="border p-4 rounded shadow bg-light">
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Insira seu e-mail" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Insira sua senha" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Acessar</button> <p></p>
                <p class="text-center"> <a href="/">Voltar</a> </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
